<section class="px-6 max-w-prose mx-auto md:px-0">
    <header class="overflow-hidden pt-6 pb-6 md:pt-12">
        <div class="pt-4 md:pt-6">
            <h1 class="heti--serif text-[2rem] font-bold leading-snug mb-4 md:mb-6 md:text-[2.6rem]">友情链接</h1>
        </div>
    </header>
    <% site.data.links.links.forEach(data => { %>
        <h2><%= data.class_name %></h2>
        <div class="flink-desc"><%= data.descr %></div>
        <ul>
            <% data.link_list.forEach(link => { %>
                <li>
                    <a href="<%= link.link %>"><%= link.name %></a>
                </li>
            <% }); %>
        </ul>
    <% }); %>
</section>
